.changing-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    align-items: center;
    margin: 200px 500px;
}

.changing-button:hover {
    background-color: #21cf1b;
    color: #fff;
    transform: scale(1.1); /* Increase the size by 10% */
    
}
